---
---
<!doctype html>
<html lang="en-US">
<head>

{% include head.html %}

		<title>Avail - Our Philosophy</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Our Philosophy</h2>

<p>
Stuff about how we're doing this to push the frontiers of computing, happy stuff about collaboration and all that, and that we also want to be able to make a living off of it. But we don't want to get all evil jerky megacorp.
</p><p>
Rationale about the decisions made at various points along the way.
</p>

{% include body-bottom.html %}

		</body>

</html>

