---
---
<!doctype html>
<html lang="en-US">
	<head>

{% include head.html %}

		<title>Avail Team - Setting Up Avail</title>

	</head>

	<body class="gradient-logo">

<!--#include virtual="/_include/private/body-top.ssi" -->

		<h2 class="private content-title">Step 1: Install or Upgrade Java</h2>

<p>
Avail is built on top of Java, and requires it in order to run. Depending on your operating system or installed applications, you may already have a version of Java installed in the form of the JRE (Java Runtime Environment). The JRE is sufficient for the development of, and programming in, Avail. (If you plan to work on the underlying Java-implemented Avail VM, you will need the Java Development Kit, or JDK. This is more advanced work and is restricted to experienced Java developers--who probably already have the JDK installed or know how to do it.)
</p><p>
<strong>Chrome users:</strong> The most recent version of Java, Java 7, is preferred for Avail development because of its improved Unicode support. Java 7 requires the use of 64-bit web browsers, but there is no 64-bit Chrome, so if you install Java 7, you will not be able to use Chrome to view any web content programmed with Java 7. This will include Avail web applications. There is no solution to this problem at present other than a) switching to a 64-bit web browser, or b) installing or staying with Java 6.
</p><p>
<h3>Checking for Java, Installing, or Upgrading</h3>
<ul>
	<li>Visit <a class="offsite" href="http://www.java.com/en/download/installed.jsp">http://www.java.com/en/download/installed.jsp</a></li>
	<li>Click on the <strong>Verify Java Version</strong> button in the middle of the page.</li>
	<li>The next page will tell you what version of Java you have installed, if any. If you do not have Java 7, a red <strong>Download Java Now</strong> button will also appear on the page.</li>
	<ul>
		<li>To install or upgrade to Java 7, click on the button and follow the directions supplied.</li>
		<li>To install Java 6, visit <a class="offsite" href="http://www.java.com/en/download/manual_v6.jsp">http://www.java.com/en/download/manual_v6.jsp</a> and select the download and instructions appropriate for your operating system.</li>
	</ul>
</ul>
<br>
For more information on Java, visit <a class="offsite" href="http://www.java.com/en/download/whatis_java.jsp">http://www.java.com/en/download/whatis_java.jsp</a>.
</p>
<tr class="book-nav">
	<div class="book-nav">
		<li class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Setup Outline</a></li>
		<li class="book-nav-spacer">|</li>
		<li class="book-nav-forward"><a class="book-nav-forward" href="./2-install-eclipse.html">Step 2: Install Eclipse ›</a></li>
	</div>
</tr>

{% include body-bottom.html %}

	</body>

</html>
