---
---
<!doctype html>
<html lang="en-US">
	<head>

{% include head.html %}

		<title>Avail Team - Setting Up Avail</title>

	</head>

	<body class="gradient-logo">

<!--#include virtual="/_include/private/body-top.ssi" -->

		<h2 class="private content-title">Step 3: Install the Eclipse EGit Plugin</h2>

<p>
If you have a version of Eclipse that is Kepler or more recent, Git is already integrated and you can skip this step and go on to <a href="./4-connect-to-repository.html">Step 4: Connect to the Repository</a>.
</p><p>
For older versions of Eclipse, the <a class="offsite" href="http://www.eclipse.org/egit/">Eclipse EGit plugin</a> will allow you to connect to Avail's source repository at AvailLang.org.
</p><p>
<h3>Install Eclipse EGit</h3>
<ul>
	<li>Open Eclipse.</li>
	<li>From the Help menu, choose <strong>Install New Software…</strong></li>
	<li>In the <strong>Work with:</strong> field type <em>http://download.eclipse.org/releases/juno</em> and press <strong>Enter</strong>.</li>
	<li>The middle pane will populate with categories; expand <strong>Collaboration</strong> and check the box next to <strong>Eclipse EGit</strong>.</li>
<img src="/private/avail-team/images/InstallEGit.png">
	<li>I think all the default settings from here on in are good and you only have to hit Next and Finish. I didn't take screenshots though. Sorry.</li></ul>
</p><p>
It may also be handy to install command-line Git; downloads can be found here: <a class="offsite" href="http://git-scm.com/">http://git-scm.com/</a>
</p>
<tr class="book-nav">
	<div class="book-nav">
		<li class="book-nav-back"><a class="book-nav-back" href="./2-install-eclipse.html">‹ Step 2: Install Eclipse</a></li>
		<li class="book-nav-spacer">|</li>
		<li class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Setup Outline</a></li>
		<li class="book-nav-spacer">|</li>
		<li class="book-nav-forward"><a class="book-nav-forward" href="./4-connect-to-repository.html">Step 4: Connect to the Repository ›</a></li>
	</div>
</tr>

{% include body-bottom.html %}

	</body>

</html>
