---
---
<!doctype html>
<html lang="en-US">
	<head>

{% include head.html %}

		<title>Avail Team - Setting Up Avail</title>

	</head>

	<body class="gradient-logo">

	{% include body-top.html %}

		<h2 class="private content-title">Step 7: Install Mylyn Connectors for Git and Trac</h2>

<p>
<a class="offsite" href="https://www.eclipse.org/mylyn/">Mylyn</a> provides Eclipse plug-ins for a number of external tools such as version control systems, project managers, bug trackers, etc. Once set up, your installed plug-ins will give you in-application view and editing of Trac project management items. You will also be able to save "task contexts" with tasks, so task switching and bug reproduction become much easier.
</p><p>
<h3>Installing Mylyn Connectors</h3>
<ul>
	<li>Open Eclipse.</li>
	<li>From the <strong>Help</strong> menu, choose <strong>Install New Software…</strong>.</li>
	<li>In the <strong>Work with:</strong> field type <em>https://download.eclipse.org/mylyn/releases/latest/</em> and press <strong>the enter/return key</strong>.</li>
<img src="/private/avail-team/images/Mylyn1.png">
	<li>The middle pane will populate with three categories: Mylyn Features, Mylyn Integrations, and Mylyn SDK and Framework.</li>
	<li>Check the box next to <strong>Mylyn Features</strong> (so all subordinate items are included).</li>
	<li>Click the gray triangle to expand <strong>Mylyn Integrations</strong>, and check the boxes next to:
	<ul>
		<li><strong>Mylyn Context Connector: Eclipse IDE</strong></li>
		<li><strong>Mylyn Tasks Connector: Trac</strong></li>
		<li><strong>Mylyn Versions Connector: Git</strong></li>
	</ul>
	<li>If you are planning to do Avail VM development in Java, also check the box next to <strong>Mylyn Context Connector: Java Development</strong>.</li>
	<li>Click <strong>Next</strong>.</li>
<img src="/private/avail-team/images/Mylyn2.png">
	<li>Your window should match the above screenshot, with or without Mylyn Context Connector: Java Development, and with updated version numbers. Click <strong>Next</strong>.</li>
	<li>In the Review Licenses window, select <strong>I accept…</strong> and click <strong>Finish</strong>.</li>
	<li>The Installing Software progress window will show your installation progress. When it is done, you will be notified that you will need to restart Eclipse SDK. If you have any unsaved edits, click <strong>No</strong>, and finish your session. Otherwise, click <strong>Yes</strong>.</li>
</ul>
</p>
<tr class="book-nav">
	<div class="book-nav">
		<li class="book-nav-back"><a class="book-nav-back" href="./6-import-preferences.html">‹ Step 6: Import the Avail Preferences Set</a></li>
		<li class="book-nav-spacer">|</li>
		<li class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Setup Outline</a></li>
	</div>
</tr>

{% include body-bottom.html %}

	</body>

</html>