---
---
<!doctype html>
<html lang="en-US">
	<head>

{% include head.html %}
<script src="/javascript/jquery.js"></script>
<script src="/javascript/mediaelement-and-player.min.js"></script>
<link rel="stylesheet" href="/css/mediaelementplayer.css" />

		<title>Videos</title>

	</head>

	<body class="gradient-logo">

<!--#include virtual="/_include/private/body-top.ssi" -->

		<h2 class="private content-title">Videos</h2>
<p>
Check out some videos recorded right here at Avail HQ.
</p><p>
<h3>Nothing yet</h3>
<!-- <video src="/private/echo-hereweare.mp4" controls="controls" width="320" height="240"></video> -->
</p>

{% include body-bottom.html %}

	</body>

</html>
