---
---
<!doctype html>
<html lang="en-US">
<head>

{% include head.html %}

		<title>Avail - Glossary</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Binary Module</h2>

<p>A binary module is the output of the Avail compiler, and is not intended to be human-readable. Its purpose is to improve the performance of executing Avail code. The separation of Avail code into source and binary forms also permits developers to distribute their software without having to also distribute their source code. This flexibility is essential to many software business models.</p>

<p>
<em>References:</em>
<ul>
<li><a href="/about-avail/documentation/modules/introduction.html">Modules introduction</a></li>
<li>See also, the glossary pages for <a href="module.html">Module</a> and <a href="source-module.html">Source Module</a></li>
</ul>
</p>


<tr class="book-nav">
	<div class="book-nav">
		<li class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Glossary</a></li>
	</div>
</tr>

{% include body-bottom.html %}

	</body>

</html>
