---
---
<!doctype html>
<html lang="en-US">
<head>

{% include head.html %}

		<title>Avail - Glossary</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Block</h2>

<p>
AKA "block phrase"
</p><p>
A <a href="./function.html">function</a> literal; specifically, an optional sequence of <a href="./statement.html">statements</a> followed by a single value-returning <a href="./expression.html">expression</a>, the whole of which is enclosed by square brackets. The block returns the value to which the expression evaluates.
</p><p>
<strong>Grammar:</strong>
<ol type="disc"><li>An open square bracket (<code>[</code>)</li>
<li>An optional parameter list: 0+ parameter <a href="./declaration.html">declarations</a>, comma-separated</li>
<li>If there was at least one parameter declared, the parameter section is followed by a vertical bar</li>
<li>An optional statement list</li>
<li>An optional value-returning expression</li>
<li>A closing square bracket (<code>]</code>)</li>
<li>If the expression returns type <a href="./bottom.html">bottom</a>, following the closing square bracket is a colon and that return type. Otherwise, this declaration of the return type is optional unless intentionally documenting or weakening the return type of the expression.</li>
<li>A semicolon</li></ol>
</p>
<tr class="book-nav">
	<div class="book-nav">
		<li class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Glossary</a></li>
		</div>
</tr>

{% include body-bottom.html %}

	</body>

</html>
