---
---
<!doctype html>
<html lang="en-US">
<head>

{% include head.html %}

		<title>Avail - Glossary</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Bottom</h2>

<p>
<code>⊥</code><br />
(Unicode character U+22A5: "up tack")
</p><p>
"Nothing". The abstract <a href="./subtype-supertype.html">subtype</a> of all types; the strongest and most specific type.
</p><p>
Bottom cannot have any instances because they would be logically inconsistent.
</p><p>
Bottom serves as the "return type" for <a href="./function.html">functions</a> which cannot return (because of program exit, infinite looping, unhandled exceptions, or calling a <a href="./continuation.html">continuation</a>).
</p><p>
<em>References:</em> <a href="/about-avail/documentation/type-system/types-bottom.html">An in-depth exploration of ⊥</a>
</p><p>
<em>See also:</em> <a href="./top.html">Top</a>
</p>
<tr class="book-nav">
	<div class="book-nav">
		<li class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Glossary</a></li>
	</div>
</tr>

{% include body-bottom.html %}

	</body>

</html>
