---
---
<!doctype html>
<html lang="en-US">
<head>

{% include head.html %}

		<title>Avail - Glossary</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Canonical Name</h2>

<p>With reference to a module, the canonical name is the module root-relative logical name.</p>

<p>
<strong>Grammar:</strong>
<ol type="disc"><li>A solidus (<code>/</code>) <code class="unicode">(U+002F)</code></li>
<li>A module root name</li>
<li>Zero or many solidus-separated local names of enclosing packages</li>
<li>A solidus</li>
<li>The module's local name</li>
</ol>
<em>References:</em> <a href="/about-avail/documentation/modules/canonical-names.html">An in-depth look at Canonical Names</a>
</p>

<tr class="book-nav">
	<div class="book-nav">
		<li class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Glossary</a></li>
	</div>
</tr>

{% include body-bottom.html %}

	</body>

</html>
