---
---
<!doctype html>
<html lang="en-US">
<head>

{% include head.html %}

		<title>Avail - Glossary</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Expression</h2>

<p>
Any code that resolves to a value (ex. <a href="./literal.html">literals</a>, <a href="./variable.html">variables</a>, <a href="./constant.html">constants</a>, and calls of value-returning <a href="./method.html">methods</a>).
</p><p>
<em>See also:</em> <a href="/about-avail/documentation/type-system/types-expression-phrase.html">An in-depth look at expression phrases</a>
</p>
<tr class="book-nav">
	<div class="book-nav">
		<li class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Glossary</a></li>
	</div>
</tr>

{% include body-bottom.html %}

	</body>

</html>
