---
---
<!doctype html>
<html lang="en-US">
<head>

{% include head.html %}

		<title>Avail - Glossary</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Function</h2>

<p>
The object produced as a result of the compilation of a <a href="./block.html">block</a>.
</p><p>
<em>See also:</em> In-depth looks at <a href="/about-avail/documentation/type-system/types-function.html">functions</a> and <a href="/about-avail/documentation/type-system/types-function-implementation.html">function implementations</a>
</p>
<tr class="book-nav">
	<div class="book-nav">
		<li class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Glossary</a></li>
	</div>
</tr>

{% include body-bottom.html %}

	</body>

</html>
