---
---
<!doctype html>
<html lang="en-US">
<head>

{% include head.html %}

		<title>Avail - Glossary</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Import Filter</h2>

<p>An import filter allows you to cherry pick the method names that you want to access.</p>

<p>
<strong>Grammar:</strong> <code>"Foo" = ( method )</code>
</p>

<p>
<em>References:</em>
<ul>
<li><a href="/about-avail/learn/tutorials/rpn.html#import-filter">An import filter in the Reverse Polish Notation Calculator tutorial</a></li>
</ul>
</p>

<tr class="book-nav">
	<div class="book-nav">
		<li class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Glossary</a></li>
	</div>
</tr>

{% include body-bottom.html %}

	</body>

</html>
