---
---
<!doctype html>
<html lang="en-US">
<head>

{% include head.html %}

		<title>Avail - Glossary</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Initialization</h2>

<p>
A single phrase specifying a new <a href="./variable.html">variable</a>'s name, type, and initial value. The value may be any <a href="./expression.html">expression</a> that evaluates to the given type. (An initialization statement, like any <a href="./statement.html">statement</a>, ends in a semicolon.)
</p><p>
<strong>Grammar:</strong> <code>VARNAME : VARTYPE := EXPRESSION</code><br />
<strong>Example:</strong> <code>airTemp : integer := 75</code>
</p><p>
Note that initialization (of a variable) differs from <a href="./definition.html">definition</a> (of a <a href="./constant.html">constant</a>) in one way: since a constant's value cannot change, its type is implicit. Since variable values can change, through the use of an <a href="./assignment.html">assignment</a>, the variable itself is given a type which must be a supertype of any values assigned.
</p><p>
Variables may also be created, without setting their initial value, through <a href="./declaration.html">declaration</a>.
</p>
<tr class="book-nav">
	<div class="book-nav">
		<li class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Glossary</a></li>
	</div>
</tr>

{% include body-bottom.html %}

	</body>

</html>
