---
---
<!doctype html>
<html lang="en-US">
<head>

{% include head.html %}

		<title>Avail - Glossary</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Module</h2>

<p>A module is a container for Avail code. An Avail program &mdash; be it a system, library, or application &mdash; comprises a collection of modules.</p>

<p>
<em>References:</em>
<ul>
<li><a href="/about-avail/documentation/modules/introduction.html">An introduction and broad overview of modules</a></li>
<li>See also, the glossary pages for <a href="binary-module.html">Binary Module</a> and <a href="source-module.html">Source Module</a></li>
</ul>
</p>

<tr class="book-nav">
	<div class="book-nav">
		<li class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Glossary</a></li>
	</div>
</tr>

{% include body-bottom.html %}

	</body>

</html>
