---
---
<!doctype html>
<html lang="en-US">
<head>

{% include head.html %}

		<title>Avail - Glossary</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Return Expression</h2>

<p>The side effect of a statement or method, which gives the enclosing function its value.</p>

<tr class="book-nav">
	<div class="book-nav">
		<li class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Glossary</a></li>
	</div>
</tr>

{% include body-bottom.html %}

	</body>

</html>
