---
---
<!doctype html>
<html lang="en-US">
<head>

{% include head.html %}

		<title>Avail - Glossary</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Top</h2>

<p>
⊤<br />
(Unicode character U+22A4: "down tack")
</p><p>
"Everything". The <a href="./subtype-supertype.html">supertype</a> of all types; the weakest and most general type. Every value is an instance of top, even a hidden nil value which is accessible only to the Avail runtime.
</p><p>
Top serves as the "return type" for <a href="./function.html">functions</a> that do not produce a usable value. The confluence of the type rules and syntax rules of Avail ensure that any value produced by an expression of type top is always destined to be discarded implicitly when it is produced by an <a href="./expression.html">expression</a> evaluation.
</p><p>
<em>See also:</em> <a href="./bottom.html">Bottom</a>
</p>
<tr class="book-nav">
	<div class="book-nav">
		<li class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Glossary</a></li>
	</div>
</tr>

{% include body-bottom.html %}

	</body>

</html>
