---
---
<!doctype html>
<html lang="en-US">
<head>

{% include head.html %}

		<title>Avail - Glossary</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Upstream</h2>

<p>A module is upstream of another module if the first module must be compiled before the second can be compiled. Upstream and <a href="downstream.html">downstream</a> are reciprocal relationships based on the notion of module dependency: a module depends upon another (upstream) module, directly or indirectly, if it consumes services made available by that module.</p>


<p>
<strong>Example:</strong>
<div class="svg-wrapper">

	<img src="/images/modules/upstream-downstream.svg" alt="module graph demonstrating upstream/downstream relationship">

</div>
</p>

<p>
<em>References:</em>
<ul>
<li><a href="/about-avail/documentation/modules/introduction.html">Modules introduction</a></li>
</ul>
</p>

<tr class="book-nav">
	<div class="book-nav">
		<li class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Glossary</a></li>
	</div>
</tr>

{% include body-bottom.html %}

	</body>

</html>
