---
---
<!doctype html>
<html lang="en-US">
<head>

{% include head.html %}

		<title>Avail - Glossary</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Variable</h2>

<p>
An entity with a <a href="./name.html">name</a>, a type, and a mutable value. A variable is created through <a href="./initialization.html">initialization</a> or <a href="./declaration.html">declaration</a>, and its value may be set repeatedly through <a href="./assignment.html">assignment</a>. Only values that resolve to a subtype of the variable's type may be stored in the variable.
</p><p>
<em>References:</em> In-depth looks at <a href="/about-avail/documentation/type-system/types-variable.html">variables</a>, <a href="/about-avail/documentation/type-system/types-module-variable-phrase.html">module variable phrases</a>, <a href="/about-avail/documentation/type-system/types-local-variable-phrase.html">local variable phrases</a>, <a href="/about-avail/documentation/type-system/types-variable-use-phrase.html">variable use phrases</a>, and <a href="/about-avail/documentation/type-system/types-variable-reference-phrase.html">variable reference phrases</a>.
</p>
<tr class="book-nav">
	<div class="book-nav">
		<li class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Glossary</a></li>
	</div>
</tr>

{% include body-bottom.html %}

	</body>

</html>
