		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-7Z33BW25VL"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-7Z33BW25VL');
		</script>

		<script type="text/javascript" src="/javascript/mobile-detection.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Raleway:700|Lato:300,400" rel="stylesheet" type="text/css">
		<link href="/css/boilerplate.css" rel="stylesheet" type="text/css">
		<link href="/css/global.css" rel="stylesheet" type="text/css">
		<link rel="icon" type="image/ico" href="/images/favicon.ico" />
		<link href="/rss.xml" rel="alternate" type="application/rss+xml" title="The Avail Programming Language" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
