			<div class="footer-wrapper">
				<div class="footer footer-line">© 2012-2023 The Avail Foundation</div>
				<div class="footer footer-line-separator">|</div>
				<div class="footer-line">
					<div class="footer">
						<a href="/rss.xml"
							title="Subscribe to our RSS feed"><img alt="RSS" src="/images/connect-icons/rss-basic.png" height="20"></a>
						<a class="unmarked" href="https://www.facebook.com/availlang"
							title="View our Facebook page"><img alt="Facebook" src="/images/connect-icons/facebook-logo.png" height="20"></a>
						<a class="unmarked" href="https://www.twitter.com/availlang"
							title="View our Twitter page"><img alt="Twitter" src="/images/connect-icons/twitter-bird2.png" height="20"></a>
						<a class="unmarked" href="https://mailhide.io/e/qdN8uWOy" onclick="window.open('https://mailhide.io/e/qdN8uWOy', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=1094,height=1604'); return false;"
							title="Email us"><img alt="Email" src="/images/connect-icons/mail.png" height="20"></a>
					</div>
					<div class="footer">|</div>
					<div class="footer"><a class="footer" href="/about-us/privacy-policy.html">Privacy Policy</a></div>
				</div>
			</div>
		</div>