---
---
<!doctype html>
<html lang="en-US">
	<head>

{% include head.html %}

		<title>Avail - Source</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

		<h2 class="content-title">Get the Avail Source</h2>

<p>
Individuals who register with the site will be able to access the Avail source, either through Git or by download link. Registered individuals who download the source are agreeing to be bound by the terms of the Individual license. Other use is prohibited without an approved General or Enterprise license. See the <a href="./licensing.html">Licensing</a> page for more details.
</p>

{% include body-bottom.html %}

	</body>

</html>
