
/************************** Content structure *************************/

h2.PaneHeading 
{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: white;
	background-color:#2B5545;
}

.PaneContent 
{
	padding: 5px;
}

.MethodLinks
{
	font-family: "Lucida Sans Typewriter", Courier, "Courier New", monospace;
	font-size: 12px;
}

/***** Details pane *****/

h2.MethodHeading 
{
	font-size: 15px;
	font-family: "Lucida Sans Typewriter", Courier, "Courier New", monospace;
	text-align: center;
	color: white;
	font-weight: normal;
/*	background-color: rgb(0,90,0); */
	background-color: rgb(128,173,128);
	padding-top: 0;
	margin-bottom: 0;
	margin-left: 30px;
	margin-right: 30px;
}

.MethodBodyIndent 
{
	padding-left: 15px; 
}

.MethodSectionHeader 
{
	font-size: 12px;
	font-weight: bold;
/*	color: #2B5545;
	margin-bottom: 15px; */
	margin-left: 15px;
}

.MethodSectionContent 
{
	margin-left: 30px;
	margin-right: 30px;
}

.SignatureHeading 
{
	font-family: "Lucida Sans Typewriter", Courier, "Courier New", monospace;
	font-size: 18px;
	font-weight: normal;
	text-align: left;
	margin-bottom: 10px;
	color: black;
}

.SignatureDescription
{
/*	text-align: left;
/*	margin-left: 20px; 
	margin-top: 10px; */
	margin-bottom: 15px;
	font-size: 13px;
/*	font-weight: normal; */
}

.SignatureDescriptionNoMargin
{
	text-align: left;
	margin-bottom: 20px;
	font-weight: normal;
}


/* Method implementation and restriction table styling */

table 
{
	margin-bottom: 30px;
	-webkit-border-horizontal-spacing: 2px;
	-webkit-border-vertical-spacing: 2px;
	border-collapse: inherit;
}

.Transparent
{
	color: inherit;
	background-color: inherit;
}

th /** Table heading cells **/
{
	font-size: 12px;
	color: white;
	text-align: left;

	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

th.GColLabelNarrow 
{
	background-color: #C0C0C0;
	width: auto;
}

th.GColLabelWide 
{
	background-color: #C0C0C0;
	width: 100%;
}

th.GRowLabel 
{
	background-color: #C0C0C0;
	white-space: nowrap;
}

th.IColLabelNarrow 
{
/*	background-color: rgb(192,211,192); */
	background-color: #CCCCCC;
	width: auto;
}

th.IColLabelWide 
{
/*	background-color: rgb(192,211,192); */
	background-color: #CCCCCC;
	width: 100%;
}

th.IRowLabel 
{
/*	background-color: rgb(192,211,192); */
	background-color: #CCCCCC;
	white-space: nowrap;
}

th.SColLabelNarrow 
{
	background-color: #C0C0C0;
	width: auto;
}

th.SColLabelWide 
{
	background-color: #C0C0C0;
	width: 100%;
}

th.SRowLabel 
{
	background-color: #C0C0C0;
	white-space: nowrap;
}

td /** Table data cells **/
{
	font-size: 13px;
	text-align: left;

	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

td.GCode 
{
	background-color: #EEEEEE;
	font-family: "Lucida Sans Typewriter", Courier, "Courier New", monospace;
	font-size: 12px;
	white-space: nowrap;
}

td.GDesc 
{
	background-color: #EEEEEE;
	width: 100%;
}

td.ICode 
{
/*	background-color: #F6FAED; */
/*	background-color: #E2F0EB; */
	background-color: #EEEEEE;
	font-family: "Lucida Sans Typewriter", Courier, "Courier New", monospace;
	font-size: 12px;
	white-space: nowrap;
}

td.IDesc 
{
/*	background-color: #ECF2E1;
	background-color: #F6FAED; */
	background-color: #EEEEEE;
	width: 100%;
}

td.SCode 
{
	background-color: #EEEEEE;
	font-family: "Lucida Sans Typewriter", Courier, "Courier New", monospace;
	font-size: 12px;
	white-space: nowrap;
}

td.SDesc 
{
	background-color: #EEEEEE;
	width: 100%;
}




