@charset "UTF-8";
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/* Mobile Layout: 480px and below. */


/********** Overrides of default HTML styling **********/
a {
	background-color: transparent;
	color: green;
	font-weight: 500;
	text-decoration: inherit; /* no underline */
}

a:hover {
	background-color: transparent;
	color: rgb(160,64,1) !important; /* dark orange */
	text-shadow: 0 0 0.2em #F87;
}

a:visited {
	background-color: transparent;
	color: inherit;
}

.offsite {
	/* Placeholder; should receive actual styling. Should only affect a href= …. */
}

b, strong { 
	font-weight: 400;
}

body {
	margin: 0; 
	font-size: 15px; 
	line-height: 1.4; 
	-webkit-font-smoothing: subpixel-antialiased;
	min-width: 350px;
}

body, button, input, select, textarea {
	background-color: transparent;
	font-weight: 300; 
	color: #222;
}

h1, h2, h3, h4, h5 {
	background-color: transparent;
	color: green;
	font-family: 'Raleway', sans-serif;
	clear: both;
}
h2 {
	font-size: 22px;
	padding-top: 16.5px;
	margin-bottom: 11px;
}
h3 {
	font-size: 19px;
	padding-top: 12px;
	margin-bottom: 9.5px;	
}
h4 {
	font-size: 15px;
	padding-top: 10px;
	margin-bottom: 7.5px;	
}
h5 {
	font-size: 12px;
	padding-top: 8px;
	margin-bottom: 6px;
}

img.top-right-screenshot {
	margin-bottom: 15px;
	margin-left: 15px;
}

img.full-line-screenshot {
	clear: both;
}

/********** Custom visual styles **********/

/* Style for a warning about missing characters for mobile viewers on pages that contain <code> */
.mobile-only {
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	color: #bb0000;
	margin-bottom: 15px;
	
	display: none; 	/* This gets overridden by mobile-detection.js when it adds mobile-font.css file */
}

.private {
	background-color: transparent;
	color: rgb(160,64,1) !important;
}

body.gradient-logo {
	background-image: url(/_images/site-background.png);
	background-repeat: no-repeat;
	background-color: rgb(248,248,248); 
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.text-highlight {
	margin: 25px;	
	border-radius: 15px;

	font-weight: 400;
	font-style: italic;
}

.inset {
	margin-left: 20px;
	margin-right: 20px;
}


/********** Page structure **********/

  /*** Page Header ***/

.header-wrapper {
	height: 89px;
	display: table-cell;
	vertical-align: middle;
	padding-left: 187px;
	padding-right: 10px;
	padding-bottom: 5px;

	/* Right-align the text and reduce size for a small screen */
	text-align: right;
	font-size: 20px;
	line-height: 20px;
}

.header-text {
	background-color: transparent;
	color: rgb(0,60,0); /* dark x 3 green - considerably darker than darkgreen */
	font-family: 'Raleway', sans-serif;
}

.search-bar {
	padding-left: 14px;
	padding-right: 14px;

	/* Lower padding because it is not in the header bar. */
	padding-top: 10px;
}

  /*** Page Content ***/

.main-wrapper {
	width: 100%;
}


     /*** Navigation Bar ***/

.nav-wrapper {
	/* Default to vertical inline */
}

.navigation {
	margin-left: 14px;
	margin-bottom: 14px;

	/* Set down from the title area */
	margin-top: 14px;
}

.nav-section {
	margin-bottom: 14px;
}

.nav-section-header {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: transparent;
	color: rgb(0,90,0);  /* dark x 2 green - darker than darkgreen */
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

.nav-links {
	padding-left: 12px;
	margin-top: 2px;
}

.nav-link {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: transparent;
	color: rgb(0,60,0);  /* dark x 3 green - considerably darker than darkgreen */
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
}

/* Overrides of Google Search styling because they ... are strange. */
.gsc-table-cell-snippet-close {
	padding-left: 8px !important;
}
.gsc-control-cse {
	padding: 0 !important;
}

     /*** Main Content ***/

.content-wrapper {	
	/* Default to no left margin because of vertical inline. */
	
}

.content {
	background-color: white;
	
	/* Set down from inline navigation menu, and inset a small amount for small screens */
	margin-top: 20px;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
	
	overflow-y: auto;
}

.shadow {
	-moz-box-shadow: 0 0 10px #888;
	-webkit-box-shadow: 0 0 10px #888;
	box-shadow: 0 0 10px #888;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color='#808080')";
}


       /*** Content Styles ***/

.content-supertitle {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.content-title {
	margin-top: 0px;
	padding-top: 0px;
	background-color: transparent;
	color: rgb(0,90,0);
	font-family: 'Raleway', sans-serif;
}

.content-meta-info {
	background-color: transparent;
	color: gray;
	margin-top: -10px;
	font-size: 14px;
}

img.download-inline-icon {
	height: 16px;
	padding-bottom: 6px;
	padding-right: 2px;
}

img.download-list-icon {
	height: 24px;
	padding-bottom: 12px;
	padding-right: 4px;
}

.book-nav {
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -10px;
	text-align: center;
	list-style-type: none;
}

.book-nav-back, .book-nav-up, .book-nav-forward {
	display: inline;
	white-space: nowrap;
	background-color: transparent;
	color: green;
	font-size: 12px;
	position: relative;
	bottom: 0;
	font-family: 'Raleway', sans-serif;
}

.book-nav-back {
	text-align: left;
}

.book-nav-up {
	text-align: center;
}

.book-nav-forward {
	text-align: right;
}

.book-nav-spacer {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}
	

code {
	background-color: transparent;
	color: rgb(0, 0, 160); /* dark blue */
	font-size: .9em;
	font-family: 'DejaVu Sans Mono', Consolas, 'Lucida Console', Menlo, Monaco, monospace, sans-serif;
}

code.command {
	color: magenta;
}

code.module {
	color: black;
}

code.unicode {
	color: rgb(207, 83, 0); /* burnt orange */
}

.restricted-width-container {
	display: block;
	white-space: nowrap;
}

.code-block {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px;	
	border-radius: 15px;
	font-size: .9em; 
	line-height: 1.25em;
	display: block;
	overflow: auto;
	-moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
	text-align: left;
	white-space: pre;
	word-wrap: normal;
	font-family: 'DejaVu Sans Mono', Consolas, 'Lucida Console', Menlo, Monaco, monospace, sans-serif;

	/* Slight inset for small screen */
	margin-left: 20px;
	margin-right: 20px;
}

.bad-code {
	background-color: rgb(255, 221, 244); /* reds */
	color: rgb(112, 32, 32);
}

.good-code {
	background-color: rgb(226, 232, 255); /* blues */
	color: rgb(0, 0, 160);
}

.neutral-code {
	background-color: #eeeeee; /* light grey */
	color: rgb(0, 0, 160); /* dark blue */
}

.code-comment {
	background-color: transparent;
	color: green;
}


.console {
	background-color: #000000; /* black */
	color: #ffffff; /* white */
}

.book-navigation {
	display: block;
	height: 39px;
}

.scrolling {
	overflow: auto;
}

  /*** Footer ***/

.footer-wrapper {
	width: 100%;
	text-align: center;
	padding-bottom: 30px;
}

.footer {
	padding-left: 10px;
	padding-right: 10px;
	background-color: transparent;
	color: gray;
	font-weight: 300;
	display: inline-block;
	text-align: center;
}

.footer-line {
	/* Prevent fellow lines from displaying on the same line in narrow windows */
	clear: both;
}

.footer-line-separator {
	/* Don't display when footer-lines are wrapping */
	display: none; 	
}

a.footer {
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	color: gray;
	display: inline-block;
	font-weight: 300;
}

.term {
	/* Placeholder; should receive actual styling. Should probably only affect strong. */
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 768px) {

	.header-wrapper {
		/* Left-align text against the logo */
		text-align: left;
	}

	.search-bar {
		padding-top: 28px;
		width: 220px;
		position: absolute;
		top: 0;
		right: 0;
	}
	
	.nav-wrapper {
		/* Float to the left of the content */
		float: left; 
	}
	
	.navigation {
		/* Readjust for left float */
		margin-top: 0px;
	}
	
	.content-wrapper {	
		/* To allow for floated navigation pane */
		margin-left: 160px;
/*		display: table-row;*/
	}
		
	.content {
		/* Set the white content pane in from the sides of the page, and have a minimum height that is no shorter than the navigation menu*/
		margin: 20px;
		margin-bottom: 30px;
	}
	
	.code-block {
		/* Set in farther since the page is larger */
		margin-left: 35px;
		margin-right: 35px;
	}
	
	.footer-line {
		/* Inline when the screen is wide enough */
		clear: none;
		display: inline-block;
	}

	.footer-line-separator {
		/* Display when footer-lines are not wrapping. */
		clear: none;
		display: inline-block; 	
	}
}

@media only screen and (min-width: 900px) {

	.header-wrapper {
		/* Increase text size to the preferred size now that clearance is available */
		font-size: 24px;	
		line-height: 23px;
	}
}

/* Desktop Layout: 1000px and up.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 1000px) {

	.search-bar {
		width: 300px;
	}
	
	.nav-wrapper {
	
		/* Add additional margin to compensate for changes due to content width restriciton. */
		margin-top: 20px;
	}

	.content-wrapper {	
		/* Larger space induces a right margin */
		margin-right: 150px;
		
		/* Allow the restricted-width content pane to be centered within the window. */
		text-align: center;
	}

	.content {
		/* Increased padding when the screen width is a reasonable size */
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 40px;
		padding-bottom: 30px;
				
		/* Restrict the width of the content pane to improve readability on very wide screens. */
		max-width: 1000px;
		display: inline-block;
		text-align: left;
	}
	
	.code-block {
		/* Set in even more fartherer since the page is way big */
		margin-left: 45px;
		margin-right: 45px;
	}
	
}