---
---
<!doctype html>
<html lang="en-US">
	<head>

{% include head.html %}

		<title>Avail Newsletters, Edition #6: Hello, World!</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Hello, World!</h2>

<div class="content-meta-info">Edition #6 - April 28, 2014</div>

<p>As you will discover during your first 20 minutes of browsing the site, we are very long-winded in these parts. But I am going to keep this newsletter short and sweet, because there is far too much to say.</p>

<p>Today is release day, and the Avail programming language is now <strong>live</strong>. The first released version of Avail is <code style="text-decoration: underline">1.0.0 DEV 2014-04-28</code>. This is the first major development milestone. It is not a production release, and is not recommended for mission-critical use.</p>

<p>Today, we pushed <strong>more than one thousand</strong> new pages to the website. Most of them are the Avail APIs, which we call the <a href="/about-avail/documentation/stacks/library-documentation/index.html">Stacks</a>, in honor of those old-fashioned bastions of learning, libraries<sup><a href="#fn1">[1]</a></sup>, that some of us still remember. But also of note:</p>

<ul>
<li>A completely new reference series on <a href="/about-avail/documentation/modules/index.html">modules</a>.</li>
<li>A <a href="/about-avail/community/index.html">community</a> page, where you can sign up for the Avail mailing lists, learn about reporting issues and contributing, and correspond with the Avail team.</li>
<li>A <a href="/about-avail/documentation/unicode-cheat-sheet/index.html">Unicode cheat sheet</a>, which enumerates all of the non-ASCII symbolic characters used by Avail.</li>
<li>A manual for the <a href="/about-avail/documentation/workbench.html">Avail workbench</a>.</li>
<li>A guide to using the <a href="/about-avail/documentation/availuator.html">Availuator</a>, an Avail expression evaluator.</li>
<li>An <a href="/about-avail/learn/expression-cookbook.html">expression cookbook</a>, containing expressions that are ready to run using the Availuator.</li>
<li>A <a href="/about-avail/documentation/method-finder/index.html">method finder</a> that produces HTML snippets that you can embed in your blogs, should you wish to link to Avail methods documented in the Stacks.</li>
<li>Two new <a href="/about-avail/learn/index.html">tutorials</a>.</li>
</ul>

<p>Without further ado&hellip;</p>

<hr/>

<a style="font-size: 14pt" href="/about-avail/download/index.html">
<table style="margin: auto">
<tr>
<td><img src="/images/AvailHammer.png" alt="Avail workbench icon: a stylized A next to a hammer, in front of a green oval." style="width: 70px"/></td>
<td style="padding-left: 15px; vertical-align: middle">Download a binary or source<br /> distribution of Avail!</td>
</tr>
</table>
</a>

<hr/>

<p><small><a id="fn1">[1]</a> No, no. Not software libraries. <a class="offsite" href="http://en.wikipedia.org/wiki/Library">These libraries.</a> Remember? Good.</small></p>

<table class="book-nav">
	<tr>
		<td class="book-nav-back"><a class="book-nav-back" href="./E005.html">‹ Previous</a></td>
		<td class="book-nav-spacer">|</td>
		<td class="book-nav-up"><a class="book-nav-up" href="./index.html">Return to Newsletters</a></td>
		<td class="book-nav-spacer">|</td>
		<td class="book-nav-forward"><a class="book-nav-forward" href="./E007.html">Next ›</a></td>
	</tr>
</table>

{% include body-bottom.html %}

	</body>

</html>
