---
---
<!doctype html>
<html lang="en-US">
	<head>

{% include head.html %}

		<title>Avail - Mailing Lists</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

		<h2 class="content-title">Mailing Lists</h2>

<p>
Due to technical difficulties with our web hosting provider, the Mailman page that lists all of our available mailing lists is temporarily not available! The mailing lists themselves, however, are still operating just fine, as are the web-hosted archive files for those users who wish to read without joining. Titles, descriptions, and links to the mailing lists' main pages are below.
</p><p>
<a href="http://lists.availlang.org/listinfo.cgi/avail-availlang.org" class="unmarked"><h3>avail</h3></a>
This is a publicly accessible mailing list for Avail users to discuss the Avail programming language. It is loosely moderated, to encourage free exchange of ideas, but spam and abuse are not tolerated. <a href="http://lists.availlang.org/listinfo.cgi/avail-availlang.org" class="unmarked">Click here</a> to visit the <code>avail</code> list page.
</p><p>
<a href="http://lists.availlang.org/listinfo.cgi/avail-dev-availlang.org" class="unmarked"><h3>avail-dev</h3></a>
This is the mailing list for core development of the Avail virtual machine, standard library, and officially supported examples. It is not intended for general discussion of the Avail programming language. Please consider joining the Avail community mailing list if you wish to engage in general discussions of Avail. <a href="http://lists.availlang.org/listinfo.cgi/avail-dev-availlang.org" class="unmarked">Click here</a> to visit the <code>avail-dev</code> list page.
</p>


{% include body-bottom.html %}

	</body>

</html>
