---
---
<!doctype html>
<html lang="en-US">
	<head>

{% include head.html %}

		<title>Avail - Mailing Lists</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

		<h2 class="content-title">Mailing Lists</h2>

<h2>As of some time long before 2021, The Mailman mailing list service is no longer active for Avail.</h2>
<p>
	If there is sufficient demand, we can be encouraged to set up a suitable forum for public discussion and project announcements.
</p>

{% include body-bottom.html %}

	</body>

</html>
