---
---
<!doctype html>
<html lang="en-US">
	<head>

{% include head.html %}

		<title>Avail - Mark's Blog</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Mark's Avail Blog</h2>
<h4 class="content-title">by <a href="../../team/index.html#Mark">Mark van Gulik</a></h4>

<p>While this is not the only place that I talk about Avail, it's where I'll try to describe any significant progress that I make in its development.</p>

<h4><a href="./MvG001.html">File I/O</a></h4>
<div class="content-meta-info">December 19, 2014</div>
<p>Finally, after so many months of bending and prying, pending and trying, [but seemingly never ending and dying,] file I/O <a href="./MvG001.html">seems to be working</a>.</p>

<h4><a href="./MvG002.html">Things to come: Modular lexical scanning</a></h4>
<div class="content-meta-info">December 3, 2016</div>
<p>Having significantly improved both the performance and the error reporting in the recently completed compiler rewrite, what's next?  <a href="./MvG002.html">Rewriting Avail's lexical scanner</a>, that's what.</p>

<table class="book-nav">
	<tr>
		<td class="book-nav-up"><a class="book-nav-up" href="../index.html">Return to Blogs</a></td>
	</tr>
</table>

{% include body-bottom.html %}

	</body>

</html>
