---
---
<!doctype html>
<html lang="en-US">
	<head>

{% include head.html %}

		<title>The Avail Team Homepage</title>

	</head>

	<body class="gradient-logo">

	{% include body-top.html %}

		<h2 class="private content-title">The Avail Team Homepage</h2>

<p>
This page (/private/index.html) is the front page for the Avail Team's private content, accessible through httpauth. If you can see this page, you are already logged in. To allow a user "jeff" to access the private area, or to change jeff's password, someone must log in to the server and add them to the ~/.htpasswd using 'htdigest .htpasswd Avail-Login jeff' and then supply and confirm the desired password.
</p>
<p>
Most content within the /private directory will be in the "Members Only" navigation menu in the left pane. This navigation menu, its links, and the titles atop private pages will all appear in orange, to distinguish them from public pages. There are other files accessible through this and other private directories, but a lot of it is supplemental for web development or stashed there to temporarily take it out of public view. These files won't be linked in the navigation menu.
</p>
<p>
While we are figuring out how to make the public and private pages work together happily, the Members Only menu will only be visible on these private pages. That means that if you click on a link to a public page, the menu will disappear. To get back to the private menu, use your browser's back button or type in the address of a private page manually. Keeping a private page bookmarked in your browser will be an easier way to get back.
</p>

{% include body-bottom.html %}

	</body>

</html>
