---
---
<!doctype html>
<html lang="en-US">
	<head>

{% include head.html %}

		<title>AvailLang.org Policies</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

		<h2 class="content-title">AvailLang.org Policies</h2>
<h3><a href="./privacy-policy.html">Privacy Policy</a></h3>
<div class="content-meta-info">Last updated May 2, 2014</div>
<p>
Information about the gathering and use of site visitor data.
</p>
<h3><a href="./content-moderation-policy.html">Content and Moderation Policy</a></h3>
<p>
Behavior standards for subscribers to our <a href="/about-avail/community/mailing-lists.html">mailing lists</a> and information about probable moderation procedures.
</p>
{% include body-bottom.html %}

	</body>

</html>
