---
---
<!doctype html>
<html lang="en-US">
<head>

{% include head.html %}

		<title>Avail - Blogs</title>

	</head>

	<body class="gradient-logo">

{% include body-top.html %}

<h2 class="content-title">Blogs</h2>

<p>Here may be found a collection of blogs by Avail team members.</p>

<h3>Avail Blogs</h3>
<li><a href="./rich/index.html">Blogging Avail</a>, by Richard Arriaga</li>
<li><a href="./todd/index.html">Programming Profundities</a>, by Todd L Smith</li>
<li><a href="./mark/index.html">Mark's Avail Blog</a>, by Mark van Gulik</li>

<h3>Recent Blog Entries</h3>

<h4><a href="./mark/MvG001.html">File I/O</a></h4>
<div class="content-meta-info">December 19, 2014</div>
<p>Finally, file I/O seems to be working. &nbsp; <a href="./mark/MvG001.html">[read more&hellip;]</a>.</p>

<h4><a href="./todd/E0001.html">The Avail Retreat of 2014</a></h4>
<div class="content-meta-info">Todd - October 28, 2014</div>
<p>The Founders Three retreat from the world in order to revitalize Avail, after months of apparent inactivity. &nbsp; <a href="./todd/E0001.html">[read more&hellip;]</a></p>

<h4><a href="./rich/BERA005.html">Method Overloading</a></h4>
<div class="content-meta-info">Rich - November 24, 2013</div>
<p>A very short introduction to multiple dispatch, followed by a discussion on method overloading with code example. &nbsp; <a href="./rich/BERA005.html">[read more&hellip;]</a></p>

<h4><a href="./rich/BERA004.html">Method to my madness</a></h4>
<div class="content-meta-info">Rich - October 5, 2013</div>
<p><em>"Thanks for all that on types, but it still doesn't tell me how to do something with Avail."</em> To sate your appetite for the doing of something, here is an introduction to Avail methods.  &nbsp; <a href="./rich/BERA004.html">[read more&hellip;]</a></p>

<h4><a href="./rich/BERA003.html">So many types, so little CPU time</a></h4>
<div class="content-meta-info">Rich - October 5, 2013</div>
<p>A basic discussion on the Avail type system.  Everything you've ever wanted to know about Avail's type system hasn't yet been committed to any one webpage, so until said page comes into existence, give this a read.  &nbsp; <a href="./rich/BERA003.html">[read more&hellip;]</a></p>

<h4><a href="./rich/BERA002.html">Informally speaking, what is a type?</a></h4>
<div class="content-meta-info">Rich - October 5, 2013</div>
<p>A basic discussion on types.  This is independent of the Avail type system, though it sets up a conversation about it.  &nbsp; <a href="./rich/BERA002.html">[read more&hellip;]</a></p>

{% include body-bottom.html %}

	</body>

</html>

